.form-wrapper {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    margin-top: 5rem;
}

.contact-input {
    padding: 15px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.contact-input:hover {
    border: solid 2px #00acee;
}

.contact-input:focus {
    border: solid 2px #00acee;
    outline: none;
}

.contact-label {
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

#contact-submit-button:hover {
    background-color: #00acee;
    border: solid 2px #00acee;
    color: #FFF;
}

#contact-submit-button:active {
    background-color: #00acee;
    border: solid 2px #00acee;
    color: #FFF;
}