.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0, 0.6);
    overflow-y: scroll;
}

.modal-container-inner {
    z-index: 3;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.modal-projects-container {
    display: flex;
    background: #FFF;
    flex-direction: column;
    text-align: center;
    align-items: middle;
    position: relative;
    width: 80vw;
    height: 50rem;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 8px 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.modal-project-image {
    height: 20rem;
    width: 80vw;
}

.modal-project-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: 500;
}

.modal-description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
}

.modal-project-description {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 1rem;
    /* max-height: 10rem; */
    margin: 0.5rem 1rem;
    overflow: hidden;
}

.modal-button-container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.modal-project-button {
    background-color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 2px solid #00acee;
    cursor: pointer;
}

.modal-project-button:hover {
    background-color: #00acee;
    color: #FFF;
}

@media (min-width: 680px) {
    .modal-projects-container {
        width: 40rem;
    }

    .modal-project-image {
        width: 40rem;
    }
}